//
//  {{classname}}.h
//  iBoard
//
//  Created by Tshepo Mgaga on 2015/04/28.
//  Copyright (c) 2015 Qualip Solutions. All rights reserved.
//

#import <Foundation/Foundation.h>

#import "IBSerializable.h"


/**
 * The dictionary keys
 */

{{#fields}}
extern NSString * const IB{{.}}Key;
{{/fields}}


@interface {{classname}} : NSObject <IBSerializable>

{{#smallfields}}
@property (nonatomic, copy, readonly) NSString *{{.}};
{{/smallfields}}

/**
 * Initialize a new instance
 */
- (instancetype)initWith
{{#smallfields}}
{{.}}:(NSString *){{.}}
{{/smallfields}}
;


/**
 * Create a new instance from a dictionary
 */
- (instancetype)initWithDictionary:(NSDictionary *)dict;

/**
 * Returns a dictionary representation of the model suitable
 * for JSON serialization
 */
- (NSDictionary *)dictionaryRepresentation;


@end