//
//  {{classname}}.m
//  iBoard
//
//  Created by Tshepo Mgaga on 2015/04/28.
//  Copyright (c) 2015 Qualip Solutions. All rights reserved.
//

#import "{{classname}}.h"
#import "IBCommonKey.h"
#import "NSArray+Enumerable.h"

{{#fields}}
NSString * const IB{{.}}Key = @"{{.}}";
{{/fields}}

@interface {{classname}} ()

{{#smallfields}}
@property (nonatomic, copy, readwrite) NSString *{{.}};
{{/smallfields}}

@end


@implementation {{classname}}


-(instancetype)initWith
{{#smallfields}}
{{.}}:(NSString *){{.}}
{{/smallfields}}
{
    
    
    if ((self = [super init])) {

    {{#smallfields}}
    self.{{.}} = {{.}};
    {{/smallfields}}

    }
    
    return self;
    
    
}


- (instancetype)initWithDictionary:(NSDictionary *)dict
{
    return [self initWith
{{#fields}}
{{.}}:dict[IB{{.}}Key]
{{/fields}}];

}

- (NSDictionary *)dictionaryRepresentation
{
    return @{
    {{#fields}}
 IB{{.}}Key: self.{{.}},
{{/fields}}
             };
}

- (NSString *)description
{

    return [NSString stringWithFormat:@"<%@: 0x%x \
        {{#fields}}
        {{.}}=%@ \
        {{/fields}}
            ",
            NSStringFromClass([self class]),
            (unsigned int)self,
            {{#smallfields}}
                self.{{.}},
            {{/smallfields}}
            ];
}


@end
